# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Assetic
web/css/*
web/js/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# IDE files
.idea/workspace.xml
.idea/tasks.xml
