{% block helpbar %}
    <div class="span3">
        <div class="well">
            <h4>{{ help.pageName }} <span class="icon-question-sign" style="vertical-align: top;margin-top: 3px"></span></h4>
            <p>
                {{ help.helpText|raw }}
            </p>
        </div>
    </div>
{% endblock %}