{% extends 'base.html.twig' %}
{% block head %}

{% endblock %}

{% block title 'ShotStock Market' %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-message">
            <em>Notice</em>: {{ flashMessage }}
        </div>
    {% endfor %}
    {% block content_header %}
        <div class="row-fluid">
            <div class="span12">
                <div class="navbar">
                    <div class="navbar-inner">
                        <a class="brand" href="#">Beleggers App</a>
                        <ul class="nav">
                            <li class="active"><a href="#">Stock</a></li>
                            <li><a href="#">Settings</a></li>
                            <li><a href="#">Cashier</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    <div class="block">
        {% block content %}{% endblock %}
    </div>
{% endblock %}
