<!DOCTYPE html>
<html>
    <head>
        <title>Bootstrap 101 Template</title>
        {% stylesheets
            '../app/Resources/public/bootstrap/css/*'
            '../app/Resources/public/liber/css/*'
        %}
        <link rel="stylesheet" href="{{ asset_url }}">

        {% endstylesheets %}

        {% javascripts
            "../app/Resources/public/bootstrap/js/bootstrap.js"
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="{{ asset('js/bootstrap.js') }}"></script>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>