{% extends "LiberBeleggersBundle::layout.html.twig" %}

{% block title "Stock Overview" %}

{% block content %}
    Bla
    <div class="span6">
        <div class="row-fluid">
            <div class="well">
                Bla2<span class="icon-align-right"></span>
            </div>
        </div>
    </div>
{% endblock %}