{% extends 'base.html.twig' %}

{% block head %}

{% endblock %}

{% block title 'SpiritStock' %}

{% block body %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <div class="well">
                <script type="text/javascript">
                    {{ chart(chart) }}
                </script>
                <div id="linechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% endblock %}
